/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"),
    url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"),
    url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

html {
  font-size: 24px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #909090;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background-color: #ebebeb;
  text-align: center;
  padding: 40px 0 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header-nav {
  margin-top: 24px;
}

.header-nav li {
  display: inline-block;
  margin: 0 30px;
}

.header-nav a {
  color: #4a4a4a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.header-nav a:hover {
  font-weight: bold;
  color: #1c447b;
}

.main {
  margin-top: 125px;
}

.home-hero {
  position: relative;
}

.home-hero-banner {
  width: 100%;
}

.home-hero-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home-hero-copy {
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 165px;
  flex-direction: column;
  max-width: 466px;
}

.home-hero-copy blockquote {
  color: #4a4a4a;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 10px;
}

.home-hero-copy blockquote span:first-child {
  font-size: 36px;
  display: block;
  margin-bottom: 16px;
  line-height: 30px;
}

.home-hero-copy blockquote span:last-child {
  font-weight: bold;
}

.home-hero-copy cite {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin: 6px 0 36px 0;
}

.hero-cta {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #1c447b;
  padding: 20px 50px;
  color: #ffc400;
  border-radius: 36px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #1c447b;
}

.hero-cta:hover {
  color: #1c447b;
  background-color: #ffc400;
}

.home-section > header {
  text-align: center;
  color: #4a4a4a;
}

.home-section > header h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 12px;
}

.home-section > header p {
  font-size: 16px;
  font-weight: 300;
}

.home-catalog-preview {
  margin-top: -150px;
  position: relative;
}

.product-tiles {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.product-tile {
  border: 1px solid #dcdcdc;
  text-align: center;
  border-radius: 20px;
  color: #4a4a4a;
  width: 412px;
  padding: 20px 0 50px 0;
  margin: 0 20px;
  position: relative;
}

.product-tile-new {
  position: absolute;
  right: 5px;
  padding: 10px;
  margin-top: -10px;
  margin-right: 5px;
}

.product-tile-header {
  margin-top: 30px;
}

.product-tile-title {
  font-weight: bold;
  margin: 5px 0 8px 0;
}

.product-tile-title a {
  color: inherit;
  text-decoration: none;
}

.product-tile-origin {
  font-size: 18px;
  font-weight: 300;
}

.product-tile-details {
  color: #909090;
  font-size: 14px;
}

.product-tile-pricing {
  margin: 20px 0;
  color: #1c447b;
  font-size: 36px;
  font-weight: bold;
}

.product-tile-see-more {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #a9a453;
  padding: 10px 20px;
  color: #a9a453;
  border-radius: 36px;
  font-weight: bold;
  font-size: 16px;
  text-transform: lowercase;
}

.product-tile-see-more:hover {
  color: #fff;
  background-color: #a9a453;
}

.read-more-copy {
  position: relative;
  display: flex;
  justify-content: center;
}

.home-about {
  margin-top: 80px;
}

.home-about-copy {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 1059px;
}

.home-about-copy p:first-child {
  margin: 10px;
}

.home-about-copy p {
  margin-top: 50px;
  line-height: 36px;
  margin-bottom: 54px;
}

.home-about-visuals {
  margin-top: 40px;
}

.home-about-visuals li {
  display: inline-block;
  margin: 0 10px;
}

.read-more {
  margin-top: 50px;
}

.newsletter img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 55px;
}

.payment {
  text-align: center;
  margin-top: 80px;
}

.footer {
  margin-top: 90px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}

.footer-copyright {
  position: relative;
  margin-top: 10px;
}

.footer-line {
  display: flex;
  margin: auto 10px;
}

.footer-social li {
  display: inline-block;
  margin: 0 5px;
}

.has-decoration-star {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.has-decoration-star::after,
.has-decoration-star::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("images/decoration-star.svg") no-repeat center center;
  background-size: cover;
}

.has-decoration-star::after {
  margin-left: 10px;
}

.has-decoration-star::before {
  margin-right: 10px;
}
